{{!-- View for post/:id --}}
<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{content}}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <ul>
    {{#each comments as |comment| }}
    {{!-- TODO: debug user.name --}}
     <li>{{comment_text}}<p>-{{user.name}}</p><p>{{format_date date_created}}</p></li>
    {{/each}}
  </ul>
  <form>
    <div>
        <input type="hidden" id="show-id" value="{{post.id}}">
        <textarea class="form-input" id="" name="" placeholder="Write a comment!"></textarea>
        <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>